.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .backgroundImage {
    border-radius: 10px;
    position: absolute;
    width: 40%;
    height: 90%;
    background-image: url('../assets/Images/images.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .popup {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 40%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .skipButton, .nextButton {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  .completeButton{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f90;
    color: #fff;
  }
  .skipButton {
    background-color: #f0f0f0;
    color: #666;
  }
  
  .nextButton {
    background-color: #f90;
    color: #fff;
  }
  